<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <meta charset="utf-8">
    <title>Trajet Vehicule Electrique</title>
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
 
    <h1>Trajet Véhicule Electrique</h1>
    <br/>
    <h1>Votre trajet</h1>
    <br/>
    <div class="form-group">
        <form action="http://localhost:5000/calcul" method="post">
        
        <label>Voiture :</label>
        <select class="form-group form-control" name="id">
        {% for voiture in car %}
        <option value={{voiture[0]}}>{{voiture[1]}} {{voiture[2]}} - autonomie : {{voiture[3]}}km - recharge : {{voiture[4]}}min</option>
        {% endfor %}
        </select>
        <div class="form-group w-30" >
            <label>N° Rue :</label>
            <input class="form-control" id="rue1" name="rue1">
        </div>
        <div class="form-group w-30">
            <label>Nom de la voie :</label>
            <input class="form-control" id="voie1" name="voie1">
        </div>
        <div class="form-group w-30">
            <label>Ville :</label>
            <input class="form-control" id="ville1" name="ville1"></input>
        </div>
        <div class="form-group w-30">
            <label>N° Rue :</label>
            <input class="form-control" id="rue2" name="rue2">
        </div>
        <div class="form-group w-30">
            <label>Nom de la voie :</label>
            <input class="form-control" id="voie2" name="voie2">
        </div>
        <div class="form-group w-30">
            <label>Ville :</label>
            <input class="form-control" id="ville2" name="ville2"></input>
        </div>
        <div class="form-group w-30">
            <button type="submit" class="btn btn-primary">Calculer</button>
       </div>
        </div>
        </div>
       </form>
    </body>
</html>